<!DOCTYPE html>
<html lang="pt">
<head>
  <title>Crypto Wallet</title>
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>

<body>

<%= yield %>

</body>

<footer>
  <p author> Criado por LobaChaos 2021 </p>
</footer>
</html>
