<!DOCTYPE html>
<html lang="pt">
<head>
  <title>Crypto Wallet</title>
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>

<header>
  <div class="start">
    <h1>Crypto Wallet</h1>
    <p><b>Data : </b><%= l(Date.today) %></p>
    <p>Idioma atual : <b><%= idioma %></b></p>
  </div>

  <nav class="menu">
    <ul>
      <li> <%= link_to "Moedas", coins_path %> </li>
      <li> <%= link_to "Tipos de Mineracao" , mining_types_path %></li>
      <li>Teste</li>
      <li>Teste</li>
      <li>Teste</li>
    </ul>
  </nav>
</header>

<body>

<%= yield %>

</body>

<footer>
  <p author> Criado por LobaChaos 2021 </p>
</footer>
</html>
